[Unit]
Description=Wallpaper shuffle
ConditionEnvironment=DISPLAY

[Service]
Type=oneshot
ExecStart=%h/scripts/wallpaper_shuffle/wallpaper_shuffle.sh
