[Unit]
Description=Shuffle wallpaper every hour
After=plasma-workspace.target

[Timer]
OnBootSec=30sec
OnUnitActiveSec=1h
Persistent=true
AccuracySec=1s

[Install]
WantedBy=default.target
